.idea
*.iml
.DS_STORE
.metadata
.project
.settings/
.classpath
.cache
.lein-*
.nrepl-port
*.swp
/dev-resources/
./etc/
/etc
/resources/mappings
/resources/shapefiles
/log
/logs
/bin
log4j*
target
sun-location-geotools.code-workspace